{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Профиль</title>
</head>
<body>
    <h1>Мой профиль</h1>

    Имя пользователя: {{ user.username }} <br>
    Email: {{ user.email }}
</body>
</html>