{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Home</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'slick/slick.css' %}"/>
     <link rel="stylesheet" type="text/css" href="{% static 'slick/slick-theme.css' %}"/>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
</head>
<body onload="timer()">

      <div id="n"></div>
      <div class="logo">
        <img src="{%static 'images/logo1.png'%}"  height="100px">
      </div>
       <div class="timeout">
          Прошло <span id="time">10</span> секунд...
       </div>

    <table border="0"; cellspacing="30" ><br/>
     <tr >
       <th><h3><a href="home.html" class="help"><em>Главная</em></a></h3></th>
       <th><h3><a href="contacts.html" class="help"><em>О нас</em></a></h3></th>
       <th><h3><a href="products.html" class="help"><em>Товары</em></a></h3></th>
       <th><h3><a href="my_page.html" class="help"><em>Моя страница</em></a></h3></th>
    </table>

 <p id="formButton" ><button onclick="showForm()">Написать нам</button></p>

        <div id="form" style="display: none;">
          <p>Ваше имя: <input type="text" id="s1" placeholder="Введите имя" ></p>
          <p>Почта: <input type="text" id="s2" placeholder="Введите почту"></p>
          <p>Сообщение: <textarea type="text" id="s3"></textarea></p>
          <button id="button" onclick="send()">Отправить</button>
        </div>
      <body>
          {% block body %}
          {% endblock %}
      </body>
<footer>
      <div id="r">
        <img src="{% static 'images/f.jpg' %}" style="width: 400px" align="center">
        <img src="{% static 'images/f2.jpg' %}" style="width: 400px" align="center">
        <br/>
        <h4 style="text-align:center"><em>Жусупов С.А.    тел:0779136944
          <br/>
          Молдоева У.З.   тел:0702929830</em></h4></div>
</footer>
<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
        <script type="text/javascript">
            $(document).ready(function(){
              $('.single-item').slick({
                autoplay: true,

          autoplaySpeed: 2000,});
            });
          </script>
     <script type="text/javascript" src="{% static 'slick/slick.min.js' %}"></script>
       <!-- <script type="text/javascript" src=/slick/jquery.js"></script> -->
       <!-- <script type="text/javascript" src="jquery.js"></script> -->
</body>
</html>