{% extends 'base.html'%}
{% load staticfiles %}

{% block body %}
<div id="main"><h6 style="font-size:20px; text-align:center;">
	<em>
		История нашего ателье начинается с 2009 года.Он был мечтой Жусуповых.После окончания учебы они набирались опыта в разных швейных заведениях.Жусупова(Молдоева) с ранних лет интерисовалась конструированием изделий,но благодаря мужу она смогла заняться любимым делом.Иными словами,можно сказать, что они разделили общий интерес.По словам директора ателье,много лет им было трудно работать и обеспечивать семью одновременно,еще плюс к тому,что у них не было постоянного места жительства.К счастью,они познакомились и подружились с известными на тот район частными предпринимателя в этой же сфере.Они,как опытные личности,смогли разглядеть потенциал в молодой паре.Спустя несколько лет они спонсировали,и самое главное-были толчком для открытия нового маленького швейного заведения загородом Бишкека(в 2009).Шли годы и молодая семья постепенно росла по карьерной лестнице:у них был уже свой дом,свое заведение,свой постоянный крупный клиент,и конечно же свой авторитет.Хоть цех был и маленьким,но уважение в обществе он удостоился за счет качества товара,а это самое главное в бизнесе.Нынешний цех находится в городе Бишкек и имеет более 30 работников,которых они набирают исключмительно с учетом стажа не менее 1,5 года.Товары нашего ателье разбирают в битуках Российской Федерации и Республики Казакстан,а также на крупном рынке "Дордой" города Бишкек.
    </em>
</h6>
</div>
{% endblock %}