{% extends 'base.html'%}
{% load staticfiles %}

{% block body %}

    <a class="login" href="{% url 'login' %}">Войти</a>

  <div class="pre">
    Женщина-самое нежное в этом мире,не так ли? Все для милых дам. Открытие нашей компании тоже добавляет каплю в океан вниманий прекрасному полу.Осень.Холодеет.Гардероб у девушек меняется...
  </div>

  <div class="single-item">
    <div>
      <img src="{% static 'images/6.jpg' %}" style="margin: auto;max-width: 500px;">
    </div>
    <div>
      <img src="{% static 'images/7.jpg' %}" style="margin: auto;max-width: 500px;">
    </div>
    <div>
      <img src="{% static 'images/8.jpg' %}" style="margin: auto;max-width: 500px;" >
    </div>
    <div>
      <img src="{% static 'images/9.jpg' %}" style="margin: auto;max-width: 500px;">
    </div>
    <div>
      <img src="{% static 'images/10.jpg' %}" style="margin: auto;max-width: 500px;">
    </div>
  </div>

 {% endblock %}

