{% extends 'base.html'%}
{% load staticfiles %}

{% block body %}
<div class="video">
<iframe width="560" height="315" src="https://www.youtube.com/embed/iw8K60xtxOE" frameborder="0" allowfullscreen></iframe>
</div>
{% endblock %}