body {
  margin: 0 auto;
  width: 1200px;
  padding-right: 50px;
  padding-left: 10px;
  top:-10px;
}
.logo
{
  padding-left: 20px;
  margin-top: -100px;
  display: block;
  float: left;
  width: 150px;

}
#img
{
  margin: auto;
  padding: 5px;
  width: auto;
  height: auto;
  float: left;

}
table{
  margin-left: 138px;
  margin-top: -20px;
}
.pre
{

  text-align: center;
  float: left;
  width: 1000px;
  padding: 20px;
  font-family: "Open Sans";
  font-size: 20px;
}
#n
{
  background-image:url(http://1skinali.ru/wp-content/uploads/photobank/orchids/orchids07.jpg);
  width: 900px;
  height:120px;
  border-radius:30px;
  padding-right: 50px;
  padding-left: 50px;
  padding-top:-50px;
  top:5px;
  margin-left: 220px;
  float:right;
  margin-top: 10px;
  font-size:90px;
  text-align:right;
  font-family:"Open Sans";
}

a
{
  width: 200px;
  height:30px;
  background:violet;
  padding: 5px;
  border-radius:10px;
  padding-right:5px;
  padding-left: -10px;
  top:1px;
  margin: auto;
  margin-top:-20px;
  margin-right: -25px;
  float: left;
  color: black;
  text-decoration: solid black;
  font-family:"Open Sans";
}
q
{
  width: 200px;
  height: 100px;
  background:#FF0005;
  padding: 3px;
  border-radius:10px;
  padding-right:500px;
  padding-left: 3px;
  top:5px;
  margin-top:-30px;
  border: double 4px #CCD1CD;
  float: left;
  color: black;
  text-decoration: none;
}
.timeout
{
  font-size: 20px;
  font-family:"Open Sans";
  margin-left: -20px;
}
#main
{
  text-align: center;
  margin: auto;
  padding-left: 20px;
  margin-top: -35px;
  padding: 25px;
  font-family: "Open Sans";
  font-size: 20px;

}
#r
{
  width: 1000px;
  height: 50px;
  padding: 10px;
  top:5px;
  margin-top:1px;
  float: right;
  color: black;
  margin-right: -10px;
}
#block
{
  width:300px;
  height: 50px;
  background:none;
  float: right;
  padding: 10px;
  margin-right: 25px;
  font-family: "Open Sans";
}
.single-item
{
  padding-top: 130px;
  margin: auto;
  position: relative;
}
.calculate
{
  border-radius: 8px;
  border:double white 2px;
  background-color: violet;
  font-size: 15px;
  font-family: "Open Sans";
  width:240px;
  padding:5px;
}
#form
{
  padding: 8px;
  float: left;
  position: fixed;
  width: 450px;
  margin-left: 400px;
  background-color: violet;
  font-size: 20px;
  font-family: "Open Sans";
  border-radius: 8px;
  z-index: 1000;
}
.login
{
  margin-rigth:20px;
  float: right;
  padding: 3px;
  background-color: blueviolet;
}
.enter
{
  background-color: violet;
  float:right;
  padding: 5px;
}
#formButton
{
  float: right;
  background-color: violet;

}